<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.premal2.travelagency">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup" />
        <activity android:name=".home" />
        <activity android:name=".homepg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".flightselect" />
        <activity android:name=".enquiry" />
        <activity android:name=".admin" />
        <activity android:name=".accounts_user" />
        <activity android:name=".flightlist" />
        <activity android:name=".addmoney" />
        <activity android:name=".bookflight" />
        <activity android:name=".pwdchange" />
        <activity android:name=".mybookings" />
        <activity android:name=".addflight"></activity>
    </application>

</manifest>